<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> </h1>
    
    <p>
      <%= @participant.first_name + " " + @participant.last_name %> va participer à ton évenement  <%= @event.title %>.
    </p>
    
    <p> Plein de love sur toi jolie créature ! </p> 
 
    <p> À très vite sur Eventbrite ! </p>
  </body>
</html>