<div class="container">
    <h1 class="text-center">Modifier <%= @event.title %></h1>
    <%= render 'form', event: @event %>

    <p class="text-center">
        <%= link_to 'Evenement', @event, class: "btn btn-info"%> |
        <%= link_to 'Retour', events_path, class: "btn btn-light" %>
    </p>
</div>
