<footer class="py-5 bg-primary">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright <a href="#">&copy; The best Team</a><br/>
        Lyon 2019 <br/>
        <a href="#">Mentions légales</a></p>
    </div>
</footer>